[Desktop Entry]
Name=VIDO
Title=VIDO
GenericName=VIDO - Video Downloader
Comment=Download Videos from the Internet
Categories=Utility;Internet;Video;AudioVideo;
Exec=com.github.bernardodsanderson.vido
Icon=com.github.bernardodsanderson.vido.svg
Terminal=false
Type=Application
Keywords=Video;Download;Youtube;Internet;
X-GNOME-UsesNotifications=true