[Desktop Entry]
Name=VIDO
Title=VIDO
GenericName=VIDO - Video Downloader
Comment=Download Videos from the Internet
Categories=Utility;Internet;Video;AudioVideo;Audio;
Exec=com.github.bernardodsanderson.vido
Icon=com.github.bernardodsanderson.vido
Terminal=false
Type=Application
Keywords=Video;Download;Youtube;Internet;