[Desktop Entry]
Name=VIDO
GenericName=VIDO - Video Downloader
Comment=Download Videos from the Internet
Categories=Utility
Exec=com.github.bernardodsanderson.vido
Icon=com.github.bernardodsanderson.vido
Terminal=false
Type=Application
Keywords=Video;Download;Internet;
X-GNOME-UsesNotifications=true