url_input, .inputurl {
	padding: 10px;
	padding-right: 5px;
	font-size: 12px;
	font-weight: bold;
}

video_label, .videolabel {
	font-size: 10px;
	color: #aaa;
}

download_button, .downloadbutton {
	font-size: 14px;
	font-weight: bold;
}
